@media (max-width: 678px) {
  .media_video:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .download_btn {
    display: inline-block;
  }
}

@media (min-width: 679px) {
  .video_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .media_audio {
    display: flex;
    align-items: center;
  }
}

.messages_section {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  flex: 1;
  height: 0;
  padding: 10px 20px;
  border-block: 2px solid #969696;
}

.images_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.media_image {
  display: inline-block;
  position: relative;
  max-width: 100%;
  cursor: pointer;
}

.download_btn {
  width: 20px;
  height: 20px;

  background-image: url('../img/download.svg');
  background-size: 20px;
  background-repeat: no-repeat;
}

.media_image .download_btn,
.media_video .download_btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.media_image:hover .download_btn,
.media_video:hover .download_btn {
  display: block;
}

.media_audio .download_btn {
  margin-left: 10px;
}

.messages_container {
  max-height: 100%;
  overflow: auto;
}

.message_pinned {
  position: sticky;
  top: 0;
  z-index: 19;

  width: 100%;
  border: 1px solid #b3b8bd;
  padding: 10px;
  padding-left: 35px;
  margin-bottom: 10px;

  background-color: #fff;
  background-image: url('../img/pin.svg');
  background-size: 15px;
  background-position: 7px center;
  background-repeat: no-repeat;

  cursor: pointer;
}

.unpin-message_btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

#messages {
  padding: 0 10px;
}

.message_item {
  background-color: #eaeaea;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  font-size: 17px;
}

.message_item:not(:last-child) {
  margin-bottom: 10px;
}

.message_content {
  padding-right: 55px;
}

.message_link {
  text-decoration: none;
  color: #3e93e1;
}

.message_link:hover {
  text-decoration: underline;
}

.message_sticker {
  max-width: 200px;
}

.emoji {
  height: 1em;
  margin-inline: 1px;
  position: relative;
  top: 2px;
}

.message_attachments {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/* .message_attachment_image,
.message_attachment_video {
  max-width: 100%;
  max-height: 300px;
} */

.image {
  max-width: 100%;
  max-height: 300px;
  display: block;
}

/* .video_container {
  display: flex;
  flex-wrap: wrap;
} */

.attachment_video {
  width: 50%;
}

.video_wrapper {
  position: relative;
  padding-top: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;
}

.media_video {
  position: relative;
}

.message_attachments .media_video {
  width: 100%;
  max-width: 400px;
}

.media_audio:not(:last-child) {
  margin-bottom: 10px;
}

.media_audio > .audio_title {
  /* text-align: right; */
  text-align: left;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 10px;
}

/* .message_attachments .audio_title {
  text-align: left;
} */

.audio {
  height: 40px;
  /* width: 50%; */
}

.message_date {
  font-size: 14px;
  color: grey;
  margin-top: 10px;
}

.message_btns {
  position: absolute;
  top: 5px;
  right: 10px;
}

.message_btn {
  width: 20px;
  height: 20px;
}

.remove-message_btn {
  background-image: url('../img/recycle-bin.svg');
  background-size: 25px;
  background-position: center;
}

.favorite_img {
  width: 100%;
  height: 100%;
  stroke: #808080;
  fill: #808080;
}

.favorite .favorite_img {
  stroke: #ecb663;
  fill: #ecb663;
}

.favorite-message {
  background-color: cyan;
  width: 10px;
  height: 10px;
}
