.new-message_section {
  width: 100%;
  background-color: #f8f8f8;
}

.new-message_form_wrapper {
  max-width: 720px;
  margin: 0 auto;
  padding: 20px;
}

.new-message_form {
  position: relative;
  width: 100%;
}

.message_textarea {
  width: 100%;
  min-height: 50px;
  padding: 3px;

  resize: none;
  border: 2px solid grey;
  outline: none;
  max-height: 300px;
  padding-right: 80px;
}

.message_textarea:focus {
  border-color: #000;
}

.form_btns_container {
  display: flex;
  gap: 5px;

  position: absolute;
  top: 3px;
  right: 3px;
}

.form_btn {
  width: 20px;
  height: 20px;
  background-size: contain;
}

.upload-files_btn {
  background-image: url('../img/clip.svg');
}

.upload-files_select {
  position: relative;
}

.upload-files_list_container {
  position: absolute;
  bottom: 30px;
  min-width: 100px;
  right: 0;
  background-color: #efefefe6;
  border: 1px solid grey;
}

.file-input_label {
  display: block;
  padding: 5px;
}

.file-input_label:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.file-input {
  display: none;
}

.emoji_select,
.stickers_select {
  position: relative;
}

.emoji_btn {
  background-image: url('../img/emoji.png');
}

.emoji_item {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.emoji_item_img {
  max-width: 100%;
  max-height: 100%;
}

.stickerpack_btn {
  background-image: url('../img/sticker.svg');
}

.stickerpack_list_container,
.emoji_list_container {
  position: absolute;
  width: 200px;
  width: 280px;
  height: 220px;
  right: 0;
  bottom: 30px;
  background-color: lightblue;

  height: 220px;
  overflow: auto;
  background-color: #efefefe6;
  height: 220px;
  overflow: auto;
  border: 1px solid grey;
  border-radius: 5px;
}

.sticker_list,
.emoji_list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  padding: 3px;
}

.sticker_item {
  width: 60px;
  cursor: pointer;
}

.stickerpack_tabs {
  padding: 3px;
}

.stickerpack_tab {
  height: 30px;
  width: 30px;
}

.stickerpack_preview {
  height: 100%;
  width: 100%;
}

.send-message_btn {
  background-image: url('../img/send.svg');
}

#preview-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;

  max-width: 720px;
}

.preview {
  position: relative;
  height: 60px;
  max-width: 100px;
}

.image-preview > img {
  max-width: 100%;
  max-height: 100%;
}

.audio-preview {
  max-width: 200px;
  height: 20px;

  background-color: #cfd2d5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.video-preview video {
  max-width: 100%;
  max-height: 100%;
}

.file_remove-btn {
  position: absolute;
  right: 5px;
  top: 0;

  font-size: 25px;
  color: #fff;
  text-shadow: 0 0 3px #000;
}

.drag-n-drop {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border: 2px dotted black;

  background-color: #fff;
  text-transform: capitalize;
}
